main div.accueil{
		width: 100%;
        color:#D552D5;
		display:flex;
		justify-content:center;
		flex-direction:column;
		align-items: center;

}
main {
	flex-direction:column;
	align-items: center;
	font-size: 1.2em;
}
main:hover{
	transition-duration: 0.5s;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
}
main div.middle{
		width: 100%;
        color:#D552D5;
		display:flex;
		justify-content:center;
		flex-direction:column;
		align-items: center;
}

#rengoku{
	transition-duration: 0.2s;
	width:32%;
	border: solid 2px #D552D5;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 45%), 0 6px 20px 0 rgb(0 0 0 / 45%);
}

#rengoku:hover{
	width:90%;
	z-index: 10000;
}

hr{
	height:1px;
	width:60%;
}

#cookie{
	position: fixed;
	backdrop-filter: blur(10px);
	background: rgba(49,49,49,.7);
    width:100%;
    height:100%;
    top: 0;
    left:  0;
  	z-index: 1000000;
  	display:flex;
	  flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

#cookie>div {
	width: 60%;
	background: rgba(255,255,255,0.9);
	border-radius:5px;
    border:2px solid #FFBDFF;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
    text-shadow: 0.05em 0.05em rgb(0 0 0 / 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .5%;
    text-align: center;
    align-items: center;
}

#cookie button {
	width: 30%;
	border-radius: 10px;
	background: rgba(255,235,255,1);
	border:2px solid #FFBDFF;
	transition-duration: 0.5s;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%), 0 6px 20px 0 rgb(0 0 0 / 15%);
	z-index: 100000000;
	margin: 1.5%;
}

#cookie button:hover{
	transition-duration: 0.5s;
	background: rgba(255,220,255,1);
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
}
#cookie>div>h1 {
	color: #D552D5;
	margin: 0;
}

.msg{
	color:black;
}

#policy{
	text-decoration: none;
	
}
#policy:hover{
	transition-duration: 0.5s;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%)
}

@media(max-width:480px) {
	#cookie>div {
		width:100%;
		height:100%;
	}
}
