main {
		display:flex;
		align-items:center;
		flex-direction:column;
		color:#D552D5;
}

fieldset {
		transition-duration: 0.5s;
		border-radius:15px;
		border:2px solid #D552D5;
		margin:0 2%;
		box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
}

input {
		border:0px;
		border-radius:10px;
}

textarea {
		border:0px;
		border-radius:10px;
		resize: none;
		width:100%;
		height:30%;
}

h2 {
	margin: 2% 0 0 0;
}

input[type="submit"] {
		transition-duration: 0.5s;
		color:#D552D5;
		height:10%;
		background: rgba(0,0,0,0);
		border:2px solid #D552D5;
		box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
}

input[type="submit"]:hover{
	transition-duration: 0.5s;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 45%), 0 6px 20px 0 rgb(0 0 0 / 45%);
}



form>div {
		display:flex;
		width:90%;
		margin:2%;
		justify-content: center;
}

@media (max-width:900px) {
	form>div {
		flex-direction:column;
	}
}

form {
		display:flex;
		flex-direction:column;
		align-items:center;
		width:90%;
}

fieldset:hover{
	transition-duration: 0.5s;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 45%), 0 6px 20px 0 rgb(0 0 0 / 45%);
}