

main{
	
	align-items: column;
	flex-direction:column;
	margin-top: 18%;

}

h2{
	text-align: center;
}


div>img{
	max-width: 150px;
	max-height: 150px;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 30%);
	border: solid 1px purple;
	border-radius: 10px;
}

section div{
	flex-basis: 10%;
	text-align: center;
	margin: 1em;
}

h3{
	text-align: center;
}

section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.last{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 1em;
}

div>img:hover{
	animation-duration: 2s;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%), 0 6px 20px 0 rgb(0 0 0 / 50%);
}