
header, main, footer {
        background: rgba(255,255,255,.8);
        display:flex;
        position: relative;
        margin:2.5%;
        padding:2%;
        border-radius:5px;
        border:2px solid #FFBDFF;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
        text-shadow: 0.05em 0.05em rgb(0 0 0 / 100%);
}


header {
		flex-direction:column;
		color:#D552D5;
		text-decoration:none;
		transition: all 0.3s ease-out;
}

header>H1 {
		margin:auto;
}

nav {
		margin:auto;
		display:flex;
		width:70%;
		justify-content:center;
}

nav>a {
		padding:1%;
		color:#D552D5;
		text-decoration:none;
}

body {
        font-family:"Product Sans";
        width:60%;
        margin: auto;
        margin-top:0;
        display:flex;
        flex-direction:column;
        color:#404040;
}

body>img {
		position:fixed;
		height:100%;
		width:100%;
		right:0%;
}

nav a:hover{
	transition-duration: 0.5s;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%);
}

footer{
        color:#D552D5;
		display:flex;
		justify-content:center;
}

ul{
	list-style-type: none;
	text-align: center;
}

header > div {
	background: rgba(255,255,255,.9);
	left:0;
	top:0;
	display: none;
	position: fixed;
	width: 100%;
	height: 5%;
	z-index: 1000000000;
	border:2px solid #FFBDFF;
}

.anim-nav {
	display: block;
}

@media (max-width:900px) {
		body {
		width: 100%;
	}
}